$km1: rgb(222, 135, 148);
$km2: rgb(210, 75, 118);
$km3: rgb(255, 107, 157);
$km4: rgb(233, 52, 56);
$km5: rgb(170, 117, 106);
$km6: rgb(0, 0, 0);
$k1: #fff;
$k2: #000;
$k3: #bbb;
$k4: #ddd;
$k5: #4b5252;

$img-dir: '../img/';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
  background: $k5;
  color: $k2;
  overflow: hidden;
}

div.intro-background {
  background: url($img-dir + '/demo-lips.png') top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

div.lips-drawing-container {
  display: none;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  width: 300px;
  height: 120px;

  div.control {
    position: absolute;
    right: 0;

    div.main {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 30px;
      height: 30px;
      background: $km1;
      border-radius: 100%;
    }

    div.shadow {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 38px;
      height: 38px;
      background: rgba($km1, 0.25);
      border-radius: 100%;
      animation-duration: 500ms;
      animation-name: lips-control-shadow-upper;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &.lower {
      bottom: 0;
      left: 0;
      right: auto;

      div.main {
        left: 4px;
        right: auto;
        bottom: 4px;
        top: auto;
      }

      div.shadow {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0;
        animation-name: lips-control-shadow-lower;
      }
    }
  }

  div.trajectory {
    position: absolute;
    top: -32px;
    left: 18px;
    z-index: -1;

    &.lower {
      top: auto;
      bottom: -82px;
    }

    svg path {
      stroke-width: 1px;
      stroke: $km1;
      fill: none;
    }
  }
}

div.simple-button {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  background: $k2;

  button.control {
    padding: 6px 12px;
    margin: 0;
    text-transform: uppercase;
    background: transparent;
    border-width: 0;
    font-weight: 800;
    font-size: 0.9em;
    color: $k1;
    box-shadow: inset 0 0 0 lighten($k2, 25%);
    transition: 150ms box-shadow;

    // legacy
    -webkit-appearance: button;

    // legacy
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &.large {
    button.control {
      font-size: 1.5em;
    }

    &:hover {
      button.control {
        box-shadow: inset 0 -41px 0 lighten($k2, 25%);
      }
    }
  }

  &.small {
    vertical-align: middle;

    button.control {
      padding: 3px 10px;
      font-size: 0.55em;
      line-height: 2em;
    }

    &:hover {
      button.control {
        box-shadow: inset 0 -24px 0 lighten($k2, 25%);
      }
    }
  }

  &:hover {
    button.control {
      box-shadow: inset 0 -30px 0 lighten($k2, 25%);
    }
  }
}

div.magic-disk {
  position: relative;
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  div.disk {
    position: relative;
    z-index: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 5px solid rgba($k1, 0.25);
    box-sizing: border-box;
    transition: 200ms border-width;
  }

  div.shadow-a,
  div.shadow-b,
  div.shadow-c,
  div.shadow-d {
    position: absolute;
    border-radius: 100%;
  }

  &.state-0 {
    div.disk {
      z-index: 100;
      border-width: 0;
    }
  }

  &.state-a {
    div.shadow-a {
      z-index: 10;
    }
  }

  &.state-b {
    div.shadow-b {
      z-index: 20;
    }
  }

  &.state-c {
    div.shadow-c {
      z-index: 30;
    }
  }

  &.state-d {
    div.shadow-d {
      z-index: 40;
    }
  }

  &.style-1 {
    div.disk,
    div.shadow-d {
      background: $km1;
    }

    div.shadow-a {
      background: rgba($km1, 0.25);
    }

    div.shadow-b {
      background: rgba($km1, 0.5);
    }

    div.shadow-c {
      background: rgba($km1, 0.75);
    }
  }

  &.style-2 {
    div.disk,
    div.shadow-d {
      background: $km2;
    }

    div.shadow-a {
      background: rgba($km2, 0.25);
    }

    div.shadow-b {
      background: rgba($km2, 0.5);
    }

    div.shadow-c {
      background: rgba($km2, 0.75);
    }
  }

  &.style-3 {
    div.disk,
    div.shadow-d {
      background: $km3;
    }

    div.shadow-a {
      background: rgba($km3, 0.25);
    }

    div.shadow-b {
      background: rgba($km3, 0.50);
    }

    div.shadow-c {
      background: rgba($km3, 0.75);
    }
  }

  &.style-4 {
    div.disk,
    div.shadow-d {
      background: $km4;
    }

    div.shadow-a {
      background: rgba($km4, 0.25);
    }

    div.shadow-b {
      background: rgba($km4, 0.5);
    }

    div.shadow-c {
      background: rgba($km4, 0.75);
    }
  }

  &.style-5 {
    div.disk,
    div.shadow-d {
      background: $km5;
    }

    div.shadow-a {
      background: rgba($km5, 0.25);
    }

    div.shadow-b {
      background: rgba($km5, 0.5);
    }

    div.shadow-c {
      background: rgba($km5, 0.75);
    }
  }

  &.style-6 {
    div.disk,
    div.shadow-d {
      background: $km6;
    }

    div.shadow-a {
      background: rgba($km6, 0.25);
    }

    div.shadow-b {
      background: rgba($km6, 0.5);
    }

    div.shadow-c {
      background: rgba($km6, 0.75);
    }
  }
}

div.magic-curtain {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  &.state-0 {
    width: 100%;
  }

  div.shadow-a,
  div.shadow-b,
  div.shadow-c,
  div.shadow-d {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  div.close {
    position: absolute;
    right: -50px;
    top: 20px;
    font-size: 5em;
    cursor: default;
    visibility: hidden;
    pointer-events: none;
    transition: 500ms right;
  }

  &.state-0 {
    //
  }

  &.state-a {
    div.shadow-a {
      z-index: 10;
    }
  }

  &.state-b {
    div.shadow-b {
      z-index: 20;
    }
  }

  &.state-c {
    div.shadow-c {
      z-index: 30;
    }
  }

  &.state-d {
    div.shadow-d {
      z-index: 40;
    }

    div.close {
      right: 70px;
      z-index: 100;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &.style-1 {
    div.shadow-d {
      background: $km1;
    }

    div.shadow-a {
      background: rgba($km1, 0.25);
    }

    div.shadow-b {
      background: rgba($km1, 0.5);
    }

    div.shadow-c {
      background: rgba($km1, 0.75);
    }
  }
}

div.abh-horizontal-small {
  background: url($img-dir + '/abh-horizontal-small.png');
  background-size: 115px 24px;
  width: 115px;
  height: 24px;
}

div.nullmighty-symbol-small {
  background: url($img-dir + '/nullmighty-symbol-small.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

div.left-page-controls {
  position: absolute;
  left: 20px;
  bottom: 20px;

  div.simple-button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

div.right-page-controls {
  position: absolute;
  right: 20px;
  bottom: 20px;

  div.abh-horizontal-small,
  div.nullmighty-symbol-small {
    display: inline-block;
  }

  div.abh-horizontal-small {
    margin-right: 20px;
  }
}

div.lipstick-colors-container {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
}

// animations

@keyframes lips-control-shadow-upper {
  from {
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
  }

  to {
    top: -3px;
    right: -3px;
    width: 44px;
    height: 44px;
  }
}

@keyframes lips-control-shadow-lower {
  from {
    bottom: 0;
    left: 0;
    width: 38px;
    height: 38px;
  }

  to {
    bottom: -3px;
    left: -3px;
    width: 44px;
    height: 44px;
  }
}
