$km1: rgb(222, 135, 148);
$km2: rgb(210, 75, 118);
$km3: rgb(255, 107, 157);
$km4: rgb(233, 52, 56);
$km5: rgb(170, 117, 106);
$km6: rgb(0, 0, 0);
$k1: #fff;
$k2: #000;
$k3: #bbb;
$k4: #ddd;
$k5: #4b5252;

$img-dir: '../img/';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
  background: $k5;
  color: $k2;
  overflow: hidden;
}

div.intro-background {
  background: url($img-dir + '/intro-background.png') top center;
  background-size: cover;
  width: 100%;
  height: 100%;

  &.hidden {
    display: none;
  }
}

div.intro-get-started-container {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  transition: 1s bottom cubic-bezier(0.215, 0.61, 0.355, 1);

  &.visible {
    bottom: 300px;
  }
}

div.intro-abh-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

div.abh-large {
  background: url($img-dir + '/abh-large-light.png');
  background-size: 420px 243px;
  width: 420px;
  height: 243px;
}

div.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 700px;
  text-align: center;
  transition: 1s top cubic-bezier(0.215, 0.61, 0.355, 1);

  div.fancy-text {
    div.main,
    div.shadow-a,
    div.shadow-b {
      width: 700px;
      text-align: center;
      font-size: 4em;
      letter-spacing: 0.1em;

      div {
        margin-top: 5px;
        font-size: 1.5em;
      }
    }

    div.main,
    div.shadow-a {
      left: 50%;
    }

    div.shadow-a {
      transform: translateX(-50%);
    }

    &.ready {
      div.main {
        transform: translateX(-50%);
      }
    }
  }

  &.visible {
    opacity: 1;
  }

  &.up {
    top: 300px;
  }
}

div.mimics-background {
  display: none;
  font-size: 10em;
  color: $k2;

  &.visible {
    display: block;
  }
}

div.lips-drawing-container {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  width: 300px;
  height: 130px;

  div.control {
    position: absolute;
    right: 0;

    div.main {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 30px;
      height: 30px;
      background: $km3;
      border-radius: 100%;

      div.arrow {
        position: absolute;
        left: -20px;
        top: -20px;
        width: 70px;
        height: 70px;

        &:before {
          content: ' ';
          display: block;
          position: absolute;
          top: 50%;
          width: 14px;
          height: 14px;
          border: 4px solid $km3;
          box-sizing: border-box;
          border-right-width: 0;
          border-bottom-width: 0;
          transform: translate(0, -50%) rotate(-45deg);
        }
      }
    }

    div.shadow {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 38px;
      height: 38px;
      background: rgba($km3, 0.25);
      border-radius: 100%;
      animation-duration: 500ms;
      animation-name: lips-control-shadow-upper;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &.lower {
      bottom: 0;
      left: 0;
      right: auto;

      div.main {
        left: 4px;
        right: auto;
        bottom: 4px;
        top: auto;
      }

      div.shadow {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0;
        animation-name: lips-control-shadow-lower;
      }
    }
  }

  div.trajectory {
    position: absolute;
    top: -34px;
    left: 18px;
    z-index: -1;

    &.lower {
      top: auto;
      bottom: -84px;
    }

    svg path {
      stroke-width: 6px;
      stroke: rgba($km3, 0.25);
      stroke-linecap: round;
      fill: none;
    }
  }
}

div.simple-button {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  background: $k2;

  button.control {
    display: block;
    padding: 6px 15px;
    margin: 0;
    text-transform: uppercase;
    background: transparent;
    border-width: 0;
    font-weight: 800;
    font-size: 0.9em;
    color: $k1;
    box-shadow: inset 0 0 0 lighten($k2, 25%);
    transition: 150ms box-shadow;

    // legacy
    -webkit-appearance: button;

    // legacy
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &.style-1 {
    background: $k1;

    button.control {
      color: $k2;
    }
  }

  &.large {
    button.control {
      font-size: 1.5em;
      padding: 12px 24px;
    }

    &:hover {
      button.control {
        box-shadow: inset 0 -53px 0 lighten($k2, 25%);
      }
    }
  }

  &.small {
    vertical-align: middle;

    button.control {
      padding: 3px 10px;
      font-size: 0.55em;
      line-height: 2em;
    }

    &:hover {
      button.control {
        box-shadow: inset 0 -24px 0 lighten($k2, 25%);
      }
    }
  }

  &:hover {
    button.control {
      box-shadow: inset 0 -30px 0 lighten($k2, 25%);
    }
  }
}

div.magic-disk {
  position: relative;
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  div.disk {
    position: relative;
    z-index: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 5px solid rgba($k1, 0.25);
    box-sizing: border-box;
    transition: 200ms border-width;
  }

  div.shadow-a,
  div.shadow-b,
  div.shadow-c,
  div.shadow-d {
    position: absolute;
    border-radius: 100%;
  }

  &.state-0 {
    div.disk {
      z-index: 100;
      border-width: 0;
    }
  }

  &.state-a {
    div.shadow-a {
      z-index: 10;
    }
  }

  &.state-b {
    div.shadow-b {
      z-index: 20;
    }
  }

  &.state-c {
    div.shadow-c {
      z-index: 30;
    }
  }

  &.state-d {
    div.shadow-d {
      z-index: 40;
    }
  }

  &.style-1 {
    div.disk,
    div.shadow-d {
      background: $km1;
    }

    div.shadow-a {
      background: rgba($km1, 0.25);
    }

    div.shadow-b {
      background: rgba($km1, 0.5);
    }

    div.shadow-c {
      background: rgba($km1, 0.75);
    }
  }

  &.style-2 {
    div.disk,
    div.shadow-d {
      background: $km2;
    }

    div.shadow-a {
      background: rgba($km2, 0.25);
    }

    div.shadow-b {
      background: rgba($km2, 0.5);
    }

    div.shadow-c {
      background: rgba($km2, 0.75);
    }
  }

  &.style-3 {
    div.disk,
    div.shadow-d {
      background: $km3;
    }

    div.shadow-a {
      background: rgba($km3, 0.25);
    }

    div.shadow-b {
      background: rgba($km3, 0.50);
    }

    div.shadow-c {
      background: rgba($km3, 0.75);
    }
  }

  &.style-4 {
    div.disk,
    div.shadow-d {
      background: $km4;
    }

    div.shadow-a {
      background: rgba($km4, 0.25);
    }

    div.shadow-b {
      background: rgba($km4, 0.5);
    }

    div.shadow-c {
      background: rgba($km4, 0.75);
    }
  }

  &.style-5 {
    div.disk,
    div.shadow-d {
      background: $km5;
    }

    div.shadow-a {
      background: rgba($km5, 0.25);
    }

    div.shadow-b {
      background: rgba($km5, 0.5);
    }

    div.shadow-c {
      background: rgba($km5, 0.75);
    }
  }

  &.style-6 {
    div.disk,
    div.shadow-d {
      background: $km6;
    }

    div.shadow-a {
      background: rgba($km6, 0.25);
    }

    div.shadow-b {
      background: rgba($km6, 0.5);
    }

    div.shadow-c {
      background: rgba($km6, 0.75);
    }
  }
}

div.magic-curtain {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  &.state-0 {
    width: 100%;
  }

  div.shadow-a,
  div.shadow-b,
  div.shadow-c,
  div.shadow-d {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  div.close {
    position: absolute;
    right: -50px;
    top: 20px;
    font-size: 5em;
    cursor: default;
    visibility: hidden;
    pointer-events: none;
    transition: 500ms right;
  }

  &.state-0 {
    //
  }

  &.state-a {
    div.shadow-a {
      z-index: 10;
    }
  }

  &.state-b {
    div.shadow-b {
      z-index: 20;
    }
  }

  &.state-c {
    div.shadow-c {
      z-index: 30;
    }
  }

  &.state-d {
    div.shadow-d {
      z-index: 40;
    }

    div.close {
      right: 70px;
      z-index: 100;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &.style-1 {
    div.shadow-d {
      background: $km1;
    }

    div.shadow-a {
      background: rgba($km1, 0.25);
    }

    div.shadow-b {
      background: rgba($km1, 0.5);
    }

    div.shadow-c {
      background: rgba($km1, 0.75);
    }
  }
}

div.abh-horizontal-small {
  background: url($img-dir + '/abh-horizontal-small.png');
  background-size: 115px 24px;
  width: 115px;
  height: 24px;
}

div.nullmighty-symbol-small {
  background: url($img-dir + '/nullmighty-symbol-small.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

div.left-page-controls {
  position: absolute;
  left: 20px;
  bottom: -25px;
  transition: 2s bottom cubic-bezier(0.215, 0.61, 0.355, 1);

  &.visible {
    bottom: 20px;
  }

  div.simple-button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

div.right-page-controls {
  position: absolute;
  right: 20px;
  bottom: -25px;
  transition: 2s bottom cubic-bezier(0.215, 0.61, 0.355, 1);

  &.visible {
    bottom: 20px;
  }

  div.abh-horizontal-small,
  div.nullmighty-symbol-small {
    display: inline-block;
  }

  div.abh-horizontal-small {
    margin-right: 20px;
  }
}

div.lipstick-colors-container {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
}

div.fancy-text {
  position: relative;

  div.main {
    color: $k2;
  }

  div.shadow-a,
  div.shadow-b {
    display: none;
    color: rgba($k2, 0.25);
  }

  &.ready {
    div.shadow-a,
    div.shadow-b {
      display: block;
    }

    div.main,
    div.shadow-a {
      position: absolute;
    }

    div.shadow-a,
    div.shadow-b,
    div.main {
      overflow: hidden;
    }
  }

  &.style-0 {
    div.main {
      color: $k1;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($k1, 0.25);
    }
  }

  &.style-1 {
    div.main {
      color: $km1;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($km1, 0.25);
    }
  }

  &.style-2 {
    div.main {
      color: $km2;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($km2, 0.25);
    }
  }

  &.style-3 {
    div.main {
      color: $km3;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($km3, 0.25);
    }
  }

  &.style-4 {
    div.main {
      color: $km4;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($km4, 0.25);
    }
  }

  &.style-5 {
    div.main {
      color: $km5;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($km5, 0.25);
    }
  }

  &.style-6 {
    div.main {
      color: $km6;
    }

    div.shadow-a,
    div.shadow-b {
      color: rgba($km6, 0.25);
    }
  }
}

div.fancy-image {
  position: relative;

  div.shadow-a,
  div.shadow-b {
    display: none;
    opacity: 0.25;
  }

  &.ready {
    div.shadow-a,
    div.shadow-b {
      display: block;
    }

    div.main,
    div.shadow-a {
      position: absolute;
    }

    div.shadow-a,
    div.shadow-b,
    div.main {
      overflow: hidden;
    }
  }
}

// animations

@keyframes lips-control-shadow-upper {
  from {
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
  }

  to {
    top: -3px;
    right: -3px;
    width: 44px;
    height: 44px;
  }
}

@keyframes lips-control-shadow-lower {
  from {
    bottom: 0;
    left: 0;
    width: 38px;
    height: 38px;
  }

  to {
    bottom: -3px;
    left: -3px;
    width: 44px;
    height: 44px;
  }
}
