$k1: #fff;
$k2: #000;
$k3: #bbb;
$k4: #ddd;
$k5: #4b5252;

body {
  margin: 0;
  font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
  background: $k5;
  color: $k1;
}

div.lips-drawing-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 120px;

  div.control {
    position: absolute;
    left: 0;

    div.main {
      position: absolute;
      left: 3px;
      top: 3px;
      width: 30px;
      height: 30px;
      background: $k3;
      border-radius: 100%;
    }

    div.shadow {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 36px;
      height: 36px;
      background: $k4;
      border-radius: 100%;
    }

    &.lower {
      bottom: 0;
      right: 0;
      left: auto;

      div.main {
        right: 3px;
        left: auto;
        bottom: 3px;
        top: auto;
      }

      div.shadow {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
      }
    }
  }

  div.trajectory {
    position: absolute;
    top: -32px;
    left: 18px;
    z-index: -1;

    &.lower {
      top: auto;
      bottom: -82px;
    }
  }
}
