$k1: #fff;
$k2: #000;
$k3: #bbb;
$k4: #ddd;

body {
  margin: 0;
  font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
  background: $k1;
  color: $k2;
}

div.lips-drawing-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted $k3;
  width: 300px;
  height: 220px;

  div.control {
    position: absolute;

    &.lower {
      bottom: 0;
      right: 0;
    }

    div.main {
      width: 30px;
      height: 30px;
      background: $k3;
      border-radius: 100%;
    }

    div.shadow {
      position: absolute;
      top: -3px;
      left: -3px;
      z-index: -1;
      width: 36px;
      height: 36px;
      background: $k4;
      border-radius: 100%;
    }
  }
}
