$km1: rgb(0, 0, 0);
$km2: rgb(170, 117, 106);
$km3: rgb(233, 52, 56);
$k1: #fff;
$k2: #000;
$k3: #bbb;
$k4: #ddd;
$k5: #4b5252;

$img-dir: '../img/';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
  background: $k5;
  color: $k2;
  overflow: hidden;
}

div.intro-background {
  background: url($img-dir + '/intro-background.png') top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

div.lips-drawing-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 120px;

  div.control {
    position: absolute;
    left: 0;

    div.main {
      position: absolute;
      left: 3px;
      top: 3px;
      width: 30px;
      height: 30px;
      background: $k3;
      border-radius: 100%;
    }

    div.shadow {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 36px;
      height: 36px;
      background: $k4;
      border-radius: 100%;
    }

    &.lower {
      bottom: 0;
      right: 0;
      left: auto;

      div.main {
        right: 3px;
        left: auto;
        bottom: 3px;
        top: auto;
      }

      div.shadow {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
      }
    }
  }

  div.trajectory {
    position: absolute;
    top: -32px;
    left: 18px;
    z-index: -1;

    &.lower {
      top: auto;
      bottom: -82px;
    }
  }
}

div.simple-button {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  background: $k2;

  button.control {
    padding: 6px 12px;
    margin: 0;
    text-transform: uppercase;
    background: transparent;
    border-width: 0;
    font-weight: 800;
    font-size: 0.9em;
    color: $k1;
    box-shadow: inset 0 0 0 lighten($k2, 25%);
    transition: 150ms box-shadow;

    // legacy
    -webkit-appearance: button;

    // legacy
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  &.large {
    button.control {
      font-size: 1.5em;
    }

    &:hover {
      button.control {
        box-shadow: inset 0 -41px 0 lighten($k2, 25%);
      }
    }
  }

  &:hover {

    button.control {
      box-shadow: inset 0 -30px 0 lighten($k2, 25%);
    }
  }
}

div.magic-disk {
  position: relative;
  display: inline-block;

  div.disk {
    position: relative;
    z-index: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }

  div.shadow-a,
  div.shadow-b,
  div.shadow-c {
    position: absolute;
    border-radius: 100%;
  }

  &.state-0 {
    div.disk {
      z-index: 100;
    }
  }

  &.state-a {
    div.shadow-a {
      z-index: 10;
    }
  }

  &.state-b {
    div.shadow-b {
      z-index: 20;
    }
  }

  &.state-c {
    div.shadow-c {
      z-index: 30;
    }
  }

  &.style-1 {
    div.disk,
    div.shadow-c {
      background: $km1;
    }

    div.shadow-a {
      background: rgba($km1, 0.2);
    }

    div.shadow-b {
      background: rgba($km1, 0.7);
    }
  }

  &.style-2 {
    div.disk,
    div.shadow-c {
      background: $km2;
    }

    div.shadow-a {
      background: rgba($km2, 0.2);
    }

    div.shadow-b {
      background: rgba($km2, 0.7);
    }
  }

  &.style-3 {
    div.disk,
    div.shadow-c {
      background: $km3;
    }

    div.shadow-a {
      background: rgba($km3, 0.2);
    }

    div.shadow-b {
      background: rgba($km3, 0.7);
    }
  }
}
